.block.shot {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: serif;
  background-color: $ding-dark;
  .picture {
    height: 80vh;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .quote {
    height: 15vh;
    padding: 0.4rem;
    font-size: 1rem;
  }
  .source {
    cursor: pointer;
    height: 5vh;
    font-size: 0.8rem;
    margin-left: auto;
  }
}
