.block.cover {
  text-align: center;
  height: 100vh;
  .picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @include media(">desktop") {
        width: 40vw;
      }
      @include media(">tablet", "<=desktop") {
        width: 50vw;
      }
      @include media(">phone", "<=tablet") {
        width: 55vw;
      }
      @include media("<=phone") {
        width: 70vw;
      }
    }
  }
  .description {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media(">desktop") {
      height: 5rem;
    }
    @include media(">tablet", "<=desktop") {
      height: 3rem;
    }
    @include media(">phone", "<=tablet") {
      height: 4rem;
    }
    @include media("<=phone") {
      height: 5rem;
    }
  }
}
