.music-player {
  cursor: pointer;

  @include media('>desktop') {
    margin-right: 13vw;
    font-size: 1.1rem;
  }
  // @include media(">tablet", "<=desktop") {
  //   margin-right: 1.5rem;
  //   font-size: 0.5rem;
  // }
  // @include media(">phone", "<=tablet") {
  //   margin-right: 1rem;
  //   font-size: 0.7rem;
  // }
  // @include media("<=phone") {
  //   margin-right: 0.5rem;
  //   font-size: 0.8rem;
  // }

  display: flex;
  align-items: center;
  .state {
  }

  .title {
    // https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow
    padding-left: 1rem;
    width: 20rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
