$breakpoints: (
  phone: 700px,
  tablet: 1000px,
  desktop: 1600px,
  bigScreen: 2000px,
);

@font-face {
  font-family: "FZFangSong";
  src: url("/src/attachments/fonts/FZFangSong.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $ding-dark;
  color: $shironeri;
  // https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
  // font-size: 62.5%;

  @include media(">bigScreen") {
    font-size: 26px;
  }
  @include media(">desktop", "<=bigScreen") {
    font-size: 16px;
  }
  @include media(">tablet", "<=desktop") {
    font-size: 14px;
  }
  @include media(">phone", "<=tablet") {
    font-size: 12px;
  }
  @include media("<=phone") {
    font-size: 10px;
  }

  // prevent Chrome mobile pull down refresh
  // https://stackoverflow.com/a/42509310
  // prevent Chrome desktop bouncing
  // https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
  overscroll-behavior: none;
}

// https://github.com/reaviz/realayers#-css-variables
body {
  // drawer settings start
  // direct children of body tag would work, otherwise won't work
  --color-popover: rgb(0, 0, 0, 0.8);
  --color-on-popover: white;

  --color-tooltip: rgb(0, 0, 0, 0.8);
  --color-on-tooltip: white;

  --color-dialog: #2c2c35;
  --color-on-dialog: #fff;

  --color-drawer: #2c2c35;
  --color-on-drawer: #fff;

  --color-layer-transparent: rgba(5, 6, 12, 0.9);

  .close-drawer {
    cursor: pointer;
    color: $ginnezumi;
  }

  .desktop-drawer {
    .category-name {
      font-size: 1.4rem;
    }
    // @include media(">desktop") {
    //   display: block;
    // }
    // @include media(">tablet", "<=desktop") {
    //   display: block;
    // }
    // @include media(">phone", "<=tablet") {
    //   display: none;
    // }
    // @include media("<=phone") {
    //   display: none;
    // }
  }

  // drawer settings end

  // prevent Chrome mobile pull down refresh
  // https://stackoverflow.com/a/42509310
  // prevent Chrome desktop bouncing
  // https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
  overscroll-behavior: none;
}

.container {
  /*
  // this could cause weird space and x scroll shows up
  // I don't know why
  // width: 100vw;
*/
  // @keyframes fade-out-and-in {
  //   0% {
  //     opacity: 1;
  //   }

  //   50% {
  //     opacity: 0;
  //   }

  //   100% {
  //     opacity: 1;
  //   }
  // }

  // .mobile-drawer {
  //   @include media(">desktop") {
  //     display: none;
  //   }
  //   @include media(">tablet", "<=desktop") {
  //     display: none;
  //   }
  //   @include media(">phone", "<=tablet") {
  //     display: block;
  //   }
  //   @include media("<=phone") {
  //     display: block;
  //   }
  // }

  .block {
    z-index: 2;
    // padding: 2rem;
    position: relative;
    // min-height: calc(100vh - 4rem);
    min-height: 100vh;
  }
}
