$breakpoints: (
  phone: 700px,
  tablet: 1000px,
  desktop: 1600px,
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $ding-dark;
  color: $shironeri;

  @include media(">desktop") {
    font-size: 45px;
  }
  @include media(">tablet", "<=desktop") {
    font-size: 40px;
  }
  @include media(">phone", "<=tablet") {
    font-size: 30px;
  }
  @include media("<=phone") {
    font-size: 20px;
  }
}

.container {
  /*
  // this could cause weird space and x scroll shows up
  // I don't know why
  // width: 100vw;
*/
  // @keyframes fade-out-and-in {
  //   0% {
  //     opacity: 1;
  //   }

  //   50% {
  //     opacity: 0;
  //   }

  //   100% {
  //     opacity: 1;
  //   }
  // }

  .block {
    z-index: 2;
    padding: 0.8rem;
    position: relative;
    min-height: 100vh;
  }
}
