.movie-information {
  width: 40vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // @include media(">desktop") {
  //   width: 45vw;
  // }
  // @include media(">tablet", "<=desktop") {
  //   width: 60vw;
  // }
  // @include media(">phone", "<=tablet") {
  //   width: 70vw;
  // }
  // @include media("<=phone") {
  //   width: 80vw;
  // }

  .section-one {
    // background-color: rgba($usubeni, 0.6);
    padding: 1rem;

    h2 {
      width: 30vw;
      font-size: 3rem;
      // @include media(">desktop") {
      //   width: 20vw;
      // }
      // @include media(">tablet", "<=desktop") {
      //   width: 20vw;
      // }
      // @include media(">phone", "<=tablet") {
      //   width: 70vw;
      // }
      // @include media("<=phone") {
      //   width: 80vw;
      // }
      // font-weight: 700;
    }
  }

  .section-two {
    background-color: rgba($ding-dark, 0.4);
    padding: 1rem;
    display: flex;

    flex-direction: column;
    .box {
      width: 30vw;
      // @include media(">desktop") {
      //   width: 20vw;
      // }
      // @include media(">tablet", "<=desktop") {
      //   width: 50vw;
      // }
      // @include media(">phone", "<=tablet") {
      //   width: 70vw;
      // }
      // @include media("<=phone") {
      //   width: 80vw;
      // }
      .title {
        padding-bottom: 1.8rem;
        // display: flex;
        // align-items: center;
        // .ranking {
        font-size: 2.2rem;
        //   background-color: $ukon;
        //   border-radius: 999px;
        //   padding: 0.12rem 2rem;
        // }
        // .text {
        //   font-size: 0.7rem;
        //   margin-left: 1rem;
        // }
        cursor: pointer;
        .name {
          // font-size: 1.6rem;
        }
        .original-name {
          font-size: 1.2rem;
        }
      }

      .rating {
        display: flex;
        align-items: baseline;
        font-size: 1rem;
        padding-bottom: 1.8rem;
        .score {
          margin-left: 1rem;
        }
        .people {
          margin-left: 1rem;
        }
      }

      .description {
        font-family: serif;
        font-size: 1rem;
        .source {
          padding-top: 1rem;
          text-align: right;
        }
      }
    }
  }

  &.left {
    margin-right: auto;
    .section-one {
      h2 {
        margin-left: auto;
      }
    }
    .section-two {
      .box {
        margin-left: auto;
      }
    }
  }
  &.right {
    margin-left: auto;
  }
}
