.movie-information {
  @include media(">desktop") {
    width: 45vw;
  }
  @include media(">tablet", "<=desktop") {
    width: 60vw;
  }
  @include media(">phone", "<=tablet") {
    width: 70vw;
  }
  @include media("<=phone") {
    width: 80vw;
  }

  .section-one {
    background-color: rgba($usubeni, 0.6);
    padding: 1rem;

    h2 {
      font-size: 1.1rem;
      width: 20vw;
      font-weight: 700;
    }
  }

  .section-two {
    background-color: rgba($ding-dark, 0.4);
    padding: 1rem;
    display: flex;

    flex-direction: column;
    .box {
      width: 20vw;
      .title {
        // display: flex;
        // align-items: center;
        // .ranking {
        //   font-size: 0.5rem;
        //   background-color: $ukon;
        //   border-radius: 999px;
        //   padding: 0.12rem 0.4rem;
        // }
        // .text {
        //   font-size: 0.7rem;
        //   margin-left: 0.2rem;
        // }
        .name {
          font-size: 0.6rem;
        }
        .original-name {
          font-size: 0.4rem;
        }
      }

      .rating {
        display: flex;
        align-items: baseline;
        font-size: 0.4rem;
        padding: 0.2rem 0;
        .score {
          margin-left: 0.2rem;
        }
        .people {
          margin-left: 0.2rem;
        }
      }

      .description {
        font-size: 0.4rem;
        .source {
          padding-top: 0.2rem;
          text-align: right;
        }
      }
    }
  }

  &.left {
    margin-right: auto;
    .section-one {
      h2 {
        margin-left: auto;
      }
    }
    .section-two {
      .box {
        margin-left: auto;
      }
    }
  }
  &.right {
    margin-left: auto;
  }
}
