.movie-thumbnail {
  // margin-right: 1rem;
  width: 8.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  .ranking {
    height: 3rem;
    margin-bottom: -3rem;
    position: relative;
    .icon {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3rem 3rem 0 0;
      border-color: $ginnezumi transparent transparent transparent;
      margin-bottom: -3rem;
    }
    .text {
      padding-left: 0.6rem;

      color: fff;
      font-size: 1.4rem;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: rgba($ding-dark, 0.4);

    .picture {
      img {
        width: 100%;
      }
    }
    .information {
      display: flex;
      // align-items: center;
      padding: 0.5rem;

      .title {
      }
      .rating {
        padding-left: 1rem;
        color: $ukon;
      }
    }
  }
}
