.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  font-family: sans-serif;
  padding: 0.4rem;
  .website-info {
    margin-right: auto;
    font-size: 1.2rem;
    // height: 1.4rem;
    // line-height: 1.4rem;
    margin-left: 2rem;
    // @include media(">desktop") {
    //   height: 4rem;
    //   line-height: 4rem;
    //   margin-left: 2rem;
    // }
    // for now, desktop only
    // @include media(">tablet", "<=desktop") {
    //   font-size: 50px;
    // }
    // @include media(">phone", "<=tablet") {
    //   font-size: 40px;
    // }
    // @include media("<=phone") {
    //   font-size: 30px;
    // }

    display: flex;
    align-items: center;

    .logo {
    }
    .description {
      a {
        color: #f8c3cd;
        text-decoration: none;
        padding-right: 0.5rem;
      }
    }
  }

  .category {
    cursor: pointer;
  }
}
