.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  .website-info {
    margin-right: auto;

    @include media(">desktop") {
      height: 2rem;
      line-height: 1rem;
      margin-left: 2rem;
    }
    @include media(">tablet", "<=desktop") {
      font-size: 50px;
    }
    @include media(">phone", "<=tablet") {
      font-size: 40px;
    }
    @include media("<=phone") {
      font-size: 30px;
    }

    display: flex;
    align-items: center;

    .logo {
    }
    .description {
    }
  }

  .category {
    cursor: pointer;
  }
}
