// https://sass-lang.com/documentation/at-rules/use
// Sass team discourages @import
// https://eduardoboucas.github.io/include-media/
@import "include-media/dist/include-media";

$ding-dark: #404040;
$byakugun: #78c2c4;
$breakpoints: (
  phone: 700px,
  tablet: 1000px,
  desktop: 1600px,
);

html {
  background-color: $ding-dark;
  color: $byakugun;

  @include media(">desktop") {
    font-size: 50px;
  }
  @include media(">tablet", "<=desktop") {
    font-size: 40px;
  }
  @include media(">phone", "<=tablet") {
    font-size: 30px;
  }
  @include media("<=phone") {
    font-size: 20px;
  }
}

.container {
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    .website-info {
      @include media(">desktop") {
        height: 2rem;
        line-height: 1rem;
        margin-left: 2rem;
      }
      @include media(">tablet", "<=desktop") {
        font-size: 50px;
      }
      @include media(">phone", "<=tablet") {
        font-size: 40px;
      }
      @include media("<=phone") {
        font-size: 30px;
      }

      display: flex;
      align-items: center;

      .logo {
      }
      .description {
      }
    }
    .music-player {
      margin-right: 2rem;
    }
  }

  .picture-slot {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 0;
    background-color: $ding-dark;
    filter: opacity(55%);

    img {
      transition: all 0.4s;
      width: 100vw;

      @include media(">phone", "<=tablet") {
        width: auto;
        height: 50vh;
      }

      &.vanish {
        opacity: 0;
      }
    }

    .edge-shade {
      position: relative;
      height: 1.5rem;
      margin-top: -1.5rem;
      @include media(">phone", "<=tablet") {
        height: 20vh;
        margin-top: -20vh;
      }
      background-image: linear-gradient(to bottom, transparent, $ding-dark);
    }
  }

  // @keyframes fade-out-and-in {
  //   0% {
  //     opacity: 1;
  //   }

  //   50% {
  //     opacity: 0;
  //   }

  //   100% {
  //     opacity: 1;
  //   }
  // }

  .block {
    z-index: 2;
    position: relative;
    padding: 1px;

    &.cover {
      text-align: center;

      .picture {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          @include media(">desktop") {
            width: 40vw;
          }
          @include media(">tablet", "<=desktop") {
            width: 50vw;
          }
          @include media(">phone", "<=tablet") {
            width: 60vw;
          }
          @include media("<=phone") {
            width: 70vw;
          }
        }
      }
      .description {
        @include media(">desktop") {
          height: 2rem;
          margin-top: -2rem;
        }
        @include media(">tablet", "<=desktop") {
          height: 3rem;
          margin-top: -3rem;
        }
        @include media(">phone", "<=tablet") {
          height: 4rem;
          margin-top: -4rem;
        }
        @include media("<=phone") {
          height: 5rem;
          margin-top: -5rem;
        }
      }
    }

    &.two {
      height: 133vh;
      text-align: center;
    }
    &.haha {
      background-color: #a23;
    }
    &.three {
      height: 123vh;
    }
  }
}
