.block.ending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    img {
      max-width: 20vw;
    }
    flex: 2;
    margin-top: 10vh;
  }
  .text {
    text-align: center;
    font-family: 'FZFangSong', serif;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;

    .sentence {
      margin-bottom: 0.6rem;
    }
    flex: 1;
  }
  // .buttons {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;

  //   @include media('>desktop') {
  //     width: 60vw;
  //   }
  //   @include media('>tablet', '<=desktop') {
  //     font-size: 40px;
  //   }
  //   @include media('>phone', '<=tablet') {
  //     font-size: 30px;
  //   }
  //   @include media('<=phone') {
  //     width: 100%;
  //     flex-direction: column;
  //     align-items: center;
  //   }
  // }
  .qrcode-and-footer {
    flex: 1;

    .qrcode {
      cursor: pointer;
      img {
        max-width: 20vw;
      }
    }
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      font-size: 0.8rem;
      color: #9a9a9a;
      font-family: sans-serif;

      a {
        color: #9a9a9a;
        text-decoration: none;
        border-bottom: 1px solid #9a9a9a;
        margin: 0 0.3rem;
      }
    }
  }
}
