.picture-slot {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 0;
  background-color: $ding-dark;
  filter: opacity(55%);

  img {
    transition: all 0.2s;
    width: 100%;
    // @include media("<=phone") {
    //   width: auto;
    //   height: 50vh;
    // }

    &.vanish {
      opacity: 0;
    }
  }

  .edge-shade {
    position: relative;
    height: 1.5rem;
    margin-top: -1.5rem;
    @include media(">phone", "<=tablet") {
      height: 20vh;
      margin-top: -20vh;
    }
    background-image: linear-gradient(to bottom, transparent, $ding-dark);
  }
}
